.formcontato__input{
    padding-left: 0.5rem;
    width: 90%;
    margin-bottom: 2.5rem;
    height: 56px;
    gap: 8px;
}
.formcontato__input::placeholder{
    color: #464646;
    font-size: 10px;
    font-weight: 500;
    font-family: Raleway;
}
